
      @import url('https://fonts.googleapis.com/css?family=Amiri|Great+Vibes|Literata|Merriweather|Nanum+Gothic&display=swap');

      Body {
        margin-left: 50px;
        margin-right: 50px;

        Font-family: Arial, Helvetica, sans-serif; 
      }

      h1 { font-family: literata, sans-serif; }
      h2 { font-family: amiri, sans-serif; }
      h3 { font-family: arvo, sans-serif; }
      h4 { font-variant-caps: all-small-caps; }
      footer { font-family:  great-vibes, 'Times New Roman', Times, serif; } 

